<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.AddStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTestStatsServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.GetTestStatsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStudentUsingIDServ</servlet-name>
        <servlet-class>za.ac.tut.controller.GetStudentUsingIDServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStudentNameSurnameServ</servlet-name>
        <servlet-class>za.ac.tut.controller.GetStudentNameSurnameServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStudentAgeServ</servlet-name>
        <servlet-class>za.ac.tut.controller.GetStudentAgeServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/AddStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTestStatsServlet</servlet-name>
        <url-pattern>/GetTestStatsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStudentUsingIDServ</servlet-name>
        <url-pattern>/GetStudentUsingIDServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStudentNameSurnameServ</servlet-name>
        <url-pattern>/GetStudentNameSurnameServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStudentAgeServ</servlet-name>
        <url-pattern>/GetStudentAgeServ</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
